<a href="https://colab.research.google.com/github/ikko030/oss/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습장

ㅎㅎ

In [3]:
date_input = '2024-03-01' #@

1.컨트롤+방향키 : 단어 단위로 옮겨짐
2.end키: 맨 끝으로 감

In [ ]:
#재귀 구조 예)등차수
def seq(n):
  if n ==1:
    return 1
  else:
    return seq(n-1) +3

a = seq(int(input('number n:')))
print('nimber is:',a)

number n:5
nimber is: 13

In [ ]:
#재귀 구조 예)피보나치 수열
#첫 두 항은 1이고, 나머지 항은 각각 직전 두 항을 더한 값
def fib(n):
  if n==1 or n==2:
    return 1
  else:
    return fib(n-1) + fib(n-2)

fib(9)

34

$ y = ax+b^2 $

In [7]:
import pandas as pd
df = pd.read_csv('/content/california_housing_train.csv')
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]